name: Release Build

on: 
  push:
    branches: master
  schedule:
  - cron: "0 0 * * *"

jobs:
  rls:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-18.04]
        target: [ggp, linux]
        variant: [Debug, Release]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out source
      uses: actions/checkout@v1
    - name: Environment bootstrap
      run: sudo ./prep-gitlab.sh
    - name: Build ANGLE
      run: |
        chmod 755 ./buildstrap-${{ matrix.variant }}-arg.sh;
        ./buildstrap-${{ matrix.variant }}-arg.sh ${{ matrix.target }}
    - name: Compress artifacts
      run: |
        cd angle/out/${{ matrix.variant }};
        tar -cf ../${{ matrix.variant }}.tar *.so;
        gzip ../${{ matrix.variant }}.tar;
    - name: Archive ANGLE artifacts
      uses: actions/upload-artifact@master
      with:
        name: Angle Libraries
        path: angle/out/${{ matrix.variant }}.tar.gz
    - name: Archive ANGLE configuration
      uses: actions/upload-artifact@master
      with:
        name: Configuration
        path: angle/out/${{ matrix.variant }}/args.gn
